<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1003242588147-3b5gta5mv7n02o4m7olj5q88nvdponv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003242588147-3b5gta5mv7n02o4m7olj5q88nvdponv3</string>
	<key>API_KEY</key>
	<string>AIzaSyCmbP1TidOrCXHU352v3gDmc81OWkp-Jdg</string>
	<key>GCM_SENDER_ID</key>
	<string>1003242588147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.certificateGenerator</string>
	<key>PROJECT_ID</key>
	<string>candidate-basic-data</string>
	<key>STORAGE_BUCKET</key>
	<string>candidate-basic-data.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003242588147:ios:a36c98a3a11db75f70b486</string>
	<key>DATABASE_URL</key>
	<string>https://candidate-basic-data-default-rtdb.firebaseio.com</string>
</dict>
</plist>